
.depicter-revert .depicter-1-element-16{
	opacity:0.9;
	font-size:23px;
	text-align:center;
	color:#864D26;
	font-family:"Poppins";
	font-weight:700;
	background-color:#CEAE80;
	border:none;
	border-radius:2px;
}
.depicter-revert .depicter-1-element-8{
	font-size:40px;
	text-align:center;
	color:#FFF;
	font-family:"Poppins";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-7{
	font-size:70px;
	text-align:center;
	color:#FFF;
	font-family:"Poppins";
	font-weight:700;
	line-height:120%;
	box-shadow:none;
	backdrop-filter:none;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#000;
}
.depicter-revert .depicter-1-element-18{
	opacity:0.9;
	font-size:23px;
	text-align:center;
	color:#864D26;
	font-family:"Sora";
	font-weight:700;
	background-color:#CEAE80;
	border:none;
	border-radius:2px;
}
.depicter-revert .depicter-1-element-11{
	font-size:40px;
	text-align:right;
	color:#FFF;
	font-family:"Poppins";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-10{
	font-size:70px;
	text-align:right;
	color:#FFF;
	font-family:"Poppins";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-3 .depicter-section-background{
	background-color:#000;
}
.depicter-revert .depicter-1-element-21{
	opacity:0.9;
	font-size:23px;
	text-align:center;
	color:#864D26;
	font-family:"Poppins";
	font-weight:700;
	background-color:#CEAE80;
	border:none;
	border-radius:2px;
}
.depicter-revert .depicter-1-element-15{
	font-size:40px;
	text-align:right;
	color:#FFF;
	font-family:"Poppins";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-14{
	font-size:70px;
	text-align:right;
	color:#FFF;
	font-family:"Poppins";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-12 .depicter-section-background{
	background-color:#000;
}
.depicter-revert .depicter-1-element-86{
	opacity:0.9;
	font-size:23px;
	text-align:center;
	color:#864D26;
	font-family:"Poppins";
	font-weight:700;
	background-color:#CEAE80;
	border:none;
	border-radius:2px;
}
.depicter-revert .depicter-1-element-85{
	font-size:40px;
	text-align:right;
	color:#864D26;
	font-family:"Poppins";
	font-weight:500;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-84{
	font-size:70px;
	text-align:right;
	color:#864D26;
	font-family:"Poppins";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-88:not(.depicter-hover-off){
	transition-property:none;
}
.depicter-revert .depicter-1-section-83 .depicter-section-background{
	background-color:#000;
}
.depicter-revert .depicter-1-element-97{
	opacity:0.9;
	font-size:23px;
	text-align:center;
	color:#864D26;
	font-family:"Sora";
	font-weight:700;
	background-color:#CEAE80;
	border:none;
	border-radius:2px;
}
.depicter-revert .depicter-1-element-96{
	font-size:40px;
	text-align:center;
	color:#FFF;
	font-family:"Poppins";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-95{
	font-size:70px;
	text-align:center;
	color:#FFF;
	font-family:"Poppins";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-94 .depicter-section-background{
	background-color:#000;
}
.depicter-revert .depicter-1-element-104{
	opacity:0.9;
	font-size:23px;
	text-align:center;
	color:#864D26;
	font-family:"Sora";
	font-weight:700;
	background-color:#CEAE80;
	border:none;
	border-radius:2px;
}
.depicter-revert .depicter-1-element-103{
	font-size:40px;
	text-align:center;
	color:#FFF;
	font-family:"Poppins";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-102{
	font-size:70px;
	text-align:center;
	color:#FFF;
	font-family:"Poppins";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-101 .depicter-section-background{
	background-color:#000;
}
.depicter-revert .depicter-1-element-110{
	opacity:0.9;
	font-size:23px;
	text-align:center;
	color:#864D26;
	font-family:"Sora";
	font-weight:700;
	background-color:#CEAE80;
	border:none;
	border-radius:2px;
}
.depicter-revert .depicter-1-element-109{
	font-size:40px;
	text-align:center;
	color:#FFF;
	font-family:"Poppins";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-108{
	font-size:70px;
	text-align:center;
	color:#FFF;
	font-family:"Poppins";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-107 .depicter-section-background{
	background-color:#000;
}
.depicter-revert .depicter-1-element-116{
	opacity:0.9;
	font-size:23px;
	text-align:center;
	color:#864D26;
	font-family:"Sora";
	font-weight:700;
	background-color:#CEAE80;
	border:none;
	border-radius:2px;
}
.depicter-revert .depicter-1-element-115{
	font-size:40px;
	text-align:center;
	color:#864D26;
	font-family:"Poppins";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-114{
	font-size:70px;
	text-align:center;
	color:#864D26;
	font-family:"Poppins";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-113 .depicter-section-background{
	background-color:#000;
}
.depicter-revert .depicter-1-element-122{
	opacity:0.9;
	font-size:23px;
	text-align:center;
	color:#FFF;
	font-family:"Sora";
	font-weight:700;
	background-color:#CEAE80;
	border:none;
	border-radius:2px;
}
.depicter-revert .depicter-1-element-121{
	font-size:40px;
	text-align:right;
	color:#FFF;
	font-family:"Poppins";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-120{
	font-size:70px;
	text-align:right;
	color:#FFF;
	font-family:"Poppins";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-119 .depicter-section-background{
	background-color:#000;
}
.depicter-revert .depicter-1-element-128{
	opacity:0.9;
	font-size:23px;
	text-align:center;
	color:#864D26;
	font-family:"Sora";
	font-weight:700;
	background-color:#CEAE80;
	border:none;
	border-radius:2px;
}
.depicter-revert .depicter-1-element-127{
	font-size:40px;
	text-align:center;
	color:#FFF;
	font-family:"Poppins";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-126{
	font-size:70px;
	text-align:center;
	color:#FFF;
	font-family:"Poppins";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-125 .depicter-section-background{
	background-color:#000;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-1-element-8{
	font-size:30px;
}
.depicter-revert .depicter-1-element-7{
	font-size:50px;
}
.depicter-revert .depicter-1-element-18{
	text-align:center;
}
.depicter-revert .depicter-1-element-11{
	font-size:30px;
}
.depicter-revert .depicter-1-element-10{
	font-size:50px;
}
.depicter-revert .depicter-1-element-21{
	text-align:center;
}
.depicter-revert .depicter-1-element-15{
	font-size:30px;
	text-align:left;
}
.depicter-revert .depicter-1-element-14{
	font-size:50px;
	text-align:left;
}
.depicter-revert .depicter-1-element-86{
	text-align:center;
}
.depicter-revert .depicter-1-element-85{
	font-size:30px;
	text-align:left;
	font-weight:600;
}
.depicter-revert .depicter-1-element-84{
	font-size:50px;
	text-align:left;
}
.depicter-revert .depicter-1-element-96{
	font-size:30px;
}
.depicter-revert .depicter-1-element-95{
	font-size:50px;
}
.depicter-revert .depicter-1-element-103{
	font-size:30px;
}
.depicter-revert .depicter-1-element-102{
	font-size:50px;
}
.depicter-revert .depicter-1-element-109{
	font-size:30px;
}
.depicter-revert .depicter-1-element-108{
	font-size:50px;
}
.depicter-revert .depicter-1-element-115{
	font-size:30px;
}
.depicter-revert .depicter-1-element-114{
	font-size:50px;
}
.depicter-revert .depicter-1-element-121{
	font-size:30px;
}
.depicter-revert .depicter-1-element-120{
	font-size:50px;
}
.depicter-revert .depicter-1-element-127{
	font-size:30px;
}
.depicter-revert .depicter-1-element-126{
	font-size:50px;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-1-element-16{
	font-size:10px;
}
.depicter-revert .depicter-1-element-8{
	font-size:12px;
}
.depicter-revert .depicter-1-element-7{
	font-size:23px;
}
.depicter-revert .depicter-1-element-18{
	font-size:10px;
}
.depicter-revert .depicter-1-element-11{
	font-size:12px;
	text-align:right;
}
.depicter-revert .depicter-1-element-10{
	font-size:23px;
	text-align:right;
}
.depicter-revert .depicter-1-element-21{
	font-size:10px;
	text-align:center;
}
.depicter-revert .depicter-1-element-15{
	font-size:12px;
	text-align:center;
}
.depicter-revert .depicter-1-element-14{
	font-size:23px;
	text-align:center;
}
.depicter-revert .depicter-1-element-86{
	font-size:10px;
	text-align:center;
}
.depicter-revert .depicter-1-element-85{
	font-size:12px;
	text-align:center;
	color:#FFF;
}
.depicter-revert .depicter-1-element-84{
	font-size:23px;
	text-align:center;
	color:#FFF;
}
.depicter-revert .depicter-1-element-88{
	opacity:0.707;
}
.depicter-revert .depicter-1-element-97{
	font-size:10px;
}
.depicter-revert .depicter-1-element-96{
	font-size:12px;
}
.depicter-revert .depicter-1-element-95{
	font-size:23px;
}
.depicter-revert .depicter-1-element-104{
	font-size:10px;
}
.depicter-revert .depicter-1-element-103{
	font-size:12px;
}
.depicter-revert .depicter-1-element-102{
	font-size:23px;
}
.depicter-revert .depicter-1-element-110{
	font-size:10px;
}
.depicter-revert .depicter-1-element-109{
	font-size:12px;
}
.depicter-revert .depicter-1-element-108{
	font-size:23px;
}
.depicter-revert .depicter-1-element-116{
	font-size:10px;
}
.depicter-revert .depicter-1-element-115{
	font-size:12px;
}
.depicter-revert .depicter-1-element-114{
	font-size:23px;
}
.depicter-revert .depicter-1-element-122{
	text-shadow:2px 2px 5px rgba( 0, 0, 0, 0.5 );
	font-size:10px;
	color:#864D26;
}
.depicter-revert .depicter-1-element-121{
	font-size:12px;
}
.depicter-revert .depicter-1-element-120{
	font-size:23px;
	text-align:center;
}
.depicter-revert .depicter-1-element-128{
	font-size:10px;
}
.depicter-revert .depicter-1-element-127{
	font-size:12px;
}
.depicter-revert .depicter-1-element-126{
	font-size:23px;
}

}
